* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(15, 14, 14);
}

.rps-game {
    padding: 3.6rem 0;
    width: 50%;
    background-color: rgb(31, 31, 31);
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rps-game h1 {
    font-size: 3.8rem;
}

.choice-rps {
    margin: 1rem 0;
}

button {
    border-radius: 1.6rem;
    padding: 1rem;
    margin: 0 .25rem;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

.choose {
    font-size: 2rem;
}

#result {
    margin-top: 1rem;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 1.6rem;
}

#result-text {
    text-align: center;
    width: 25rem;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player img, .computer img {
    margin: 0.5rem 0;
}

#round {
    text-align: center;
    font-size: 1.6rem;
}

#reset-btn {
    display: none;
}